<br><br>
<div class="terms-body">
<div class="terms-box">
        <div class="terms-text">
            <h2>Terms of service</h2>
            <p>Last edit: 11/05/2023</p>
            <p>Greetings Users,</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Rerum veniam accusamus nihil animi doloribus dolorum, 
                 et natus qui iste nisi nobis veritatis nostrum alias facere, 
                 dolore ut maxime laborum. Sequi aut, minus velit sunt amet esse nam maiores necessitatibus, 
                 voluptate quidem expedita ratione dolore nostrum unde quos! Possimus, voluptatibus tempore!</p>
            <p>Corporis animi dolore quia neque aliquam.
                Voluptatum et illo voluptatibus maxime veniam repudiandae assumenda,
                dolore explicabo eveniet beatae, maiores amet aperiam, fugiat laudantium voluptates 
                eius ab quis dolorum! Hic assumenda praesentium atque aperiam possimus, 
                in asperiores aspernatur officiis a perspiciatis blanditiis et quod expedita 
                adipisci quia perferendis doloribus deleniti ipsum?</p>
            <p>Ipsam vero reprehenderit accusantium maiores officia tempore quae repellat nostrum eos,
                eius distinctio impedit? Impedit odio numquam vero obcaecati excepturi nulla,
                autem ea dignissimos laborum corporis iste, alias ex?
                Mollitia minima explicabo velit libero deserunt tempore temporibus in 
                consectetur quisquam saepe laborum odio delectus,
                repellat est iusto fugiat excepturi fuga!</p>
            <p>Assumenda atque nemo officia id ad incidunt, placeat,
                 minus quibusdam fugit voluptatum laborum debitis asperiores dignissimos earum?
                  Voluptate culpa debitis consectetur facilis eaque exercitationem doloremque amet 
                  placeat voluptas vero deserunt repellendus iste quod ex omnis ducimus molestiae facere 
                  itaque officia, et in numquam eius. Sit iste ipsum a quia vero!</p>
            <p>Voluptates aspernatur, quis dolorum est eum minima! Quos, 
                repudiandae beatae perferendis consectetur sunt eius dicta nulla sed error 
                vero rerum repellat corrupti, debitis quaerat temporibus! Consequatur quos possimus, 
                voluptates quo voluptas harum architecto distinctio nostrum perspiciatis culpa laudantium 
                exercitationem itaque odit dolor nisi ullam praesentium, dignissimos soluta nesciunt 
                similique porro.</p>
            <p>Animi totam ducimus sed hic,
                 nostrum rem deleniti atque tempora. Debitis, minima similique accusantium 
                 fugit illo incidunt temporibus eligendi atque numquam iure dolores quas,
                  id voluptatum unde eaque sunt laboriosam maxime officia, repellat ratione magni.
                   Eligendi beatae consequatur asperiores adipisci, voluptas corrupti consectetur officiis ex,
                    quis libero mollitia totam quia?</p>
        </div>
        <br>
        <h4>I Agree to the <span> Terms of Services</span> and I read the Privacy Notice</h4>
        <div class="buttons">
            <button class="btn red-btn">Accept</button>
            <button class="btn gray-btn">Decline</button>
        </div>
    </div>
</div>
<app-footer></app-footer>