<p>shop works!</p><br><br><br><br><br>
<div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <img class="card-img" src="assets/images/shirt.png" alt="Vans">
          <div class="card-img-overlay d-flex justify-content-end">
            <a href="#" class="card-link text-danger like">
              <i class="fas fa-heart"></i>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Formal White Shirt</h4>
            <h6 class="card-subtitle mb-2 text-muted">Style: ZXCVB4567</h6>
            <p class="card-text">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos assumenda placeat voluptatem distinctio, ratione dolorem omnis non beatae ipsa. Eum et, accusantium non cupiditate delectus rerum accusamus atque repellendus eaque.            <!-- <div class="options d-flex flex-fill">
            </div> -->
            <div class="buy d-flex justify-content-between align-items-center">
              <div class="price text-success"><h5 class="mt-4">$125</h5></div>
               <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card">
          <img class="card-img" src="assets/images/pants.png" alt="Vans">
          <div class="card-img-overlay d-flex justify-content-end">
            <a href="#" class="card-link text-danger like">
              <i class="fas fa-heart"></i>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Formal Pant</h4>
            <h6 class="card-subtitle mb-2 text-muted">Style: ASDFG1234</h6>
            <p class="card-text">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aspernatur quod ipsa. Natus laborum dolores dolorum hic suscipit praesentium ut, necessitatibus dignissimos illo aspernatur consequuntur veritatis minima asperiores quaerat alias?            <!-- <div class="options d-flex flex-fill">
            </div> -->
            <div class="buy d-flex justify-content-between align-items-center">
              <div class="price text-success"><h5 class="mt-4">$125</h5></div>
               <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img class="card-img" src="assets/images/shoes.png" alt="Vans">
          <div class="card-img-overlay d-flex justify-content-end">
            <a href="#" class="card-link text-danger like">
              <i class="fas fa-heart"></i>
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Sports Shoes</h4>
            <h6 class="card-subtitle mb-2 text-muted">Style: QWERT78965</h6>
            <p class="card-text">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae numquam voluptate fugiat non maxime! Repellat cupiditate sunt officia veritatis quam! Libero, atque. Expedita temporibus deleniti suscipit dicta facere eligendi quam.            <!-- <div class="options d-flex flex-fill">
            </div> -->
            <div class="buy d-flex justify-content-between align-items-center">
              <div class="price text-success"><h5 class="mt-4">$125</h5></div>
               <a href="#" class="btn btn-danger mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>