<app-navbar></app-navbar> <!-- Include the navbar component -->
<app-header></app-header> <!-- Include the header component -->

<!-- Description Section -->
<section class="description">
    <div class="description-img">
        <img src="../../assets/images/clothing.png">
    </div>

    <div class="description-text">
        <h5>AttireAvenue</h5> <!-- Subtitle -->
        <h2>Elevate Your Style | Fashion Forward Finds </h2>
        <!-- Main heading -->
        <p>Fusion of modern style and timeless elegance, offering high-quality, versatile clothing for confident,
            sophisticated individuals in contemporary fashion.</p> <!-- Description -->
        <a routerLink="#" class="btn">Read more</a>
    </div>
</section>

<hr class=mid-line> <!-- Horizontal line -->

<!--Feature Section -->
<section class="feature">
    <div class="feature-content">
        <div class="row">
            <div class="row-img">
                <img src="assets/images/shirt.png">
            </div>
            <h4>Top Wear</h4> <!-- Feature 1: Top Profiles -->
        </div>
        <div class="row">
            <div class="row-img">
                <img src="assets/images/pants.png">
            </div>
            <h4>Bottom Wear</h4> <!-- Feature 2: Profile Builder -->
        </div>
        <div class="row">
            <div class="row-img">
                <img src="assets/images/shoes.png">
            </div>
            <h4>Shoes</h4> <!-- Feature 3: 1:1 Mentor -->
        </div>

    </div>
</section>
<app-footer></app-footer> <!-- Include the footer component -->