/* Reset default styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
}

/* Define global CSS variables */
:root {
  --text-color: #fff;
  --bg-color: #000;
  --h1-font: 6rem;
  --h2-font: 3 rem;
  --p-font: 1rem;
}

/* Define styles for sections */
section {
  padding: 70px 17% 60px;
}

/* Feature Content*/
.feature-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  text-align: center;
  gap: 3 rem;
}

/* Styles for feature images */
.row-img {
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 50%;
  cursor: pointer;
}

/* Image styles within feature content */
.row-img img {
  width: 100%;
  display: block;
  transition: transform 0.7s;
}

/* Scale the image on hover */
.row-img img:hover {
  transform: scale(1.5);
}

/* Styles for feature titles */
.feature-content h4 {
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Change color on hover */
.feature-content h4:hover {
  color: rgb(105, 101, 101);
}

/* Grid layout for description section */
.description {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  gap: 2rem;
}

/* Image styles within the description */
.description-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Styles for subtitle in description */
.description-text h5 {
  font-size: 22px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 6px;
  margin-bottom: 20px;
}

/* Styles for main heading in description */
.description-text h2 {
  font-size: var(--h2-font);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 25px;
}

/* Styles for description text in description */
.description-text p {
  font-size: var(--p-font);
  font-weight: 500;
  line-height: 30px;
  color: black;
  margin-bottom: 35px;
}

/* Styles for buttons */
.btn {
  display: inline-block;
  padding: 13px 40px;
  background-color: black;
  color: whitesmoke;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid black;
}

/* Styles for horizontal line */
.mid-line {
  height: 2px;
  width: 30%;
  background-color: black;
  margin: 20px auto;
}
